.page-header{
	margin-top: 0px;
}
.page-header h1{
	display: inline-block;
}
.yc-log-out{
	float: right;
	height: 70px;
	line-height: 70px;
	margin: 10px 5px 0 0;
}
.yc-choose{
	text-align: center;
	float: left;
}
.detail-itme{
	border: 1px solid #e1e1e8;
	padding: 20px;
	background: #fff;
}
.dl-horizontal dt {
	width: 90px;
}
.dl-horizontal dd {
	margin-left: 120px;
}